
.row > div{
    min-width: 210px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5px;
    margin-top: -3px;
}
.col-sm-11 > div:hover{
    background-color: #eceaea;
}
.col-sm-11 > div{
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}